
h1 {
display: flex;
justify-content: center;	
}

#board {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
	
}

.tile {
border: 2px solid;
width: 60px;
height: 60px;
margin: 2px;

font-weight: bold;
font-size: 2.5rem;
display: flex;
justify-content: center;
align-items: center;

}

.correct {
    background-color: green;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.wrong {
    background-color: gray;
    color: white;
    border-color:white;
}

.also-wrong {
    background-color: gray;
    color: white;
    border-color:white;
}

#new-game {
    text-align: center; 

  }
  
  #newGameBtn {
    padding: 20px 30px; 
    font-size: 25px; 
    font-weight: Bold;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 10px;

  }